<!DOCTYPE html>
<html>
<head>
	
    <link rel="stylesheet" type="text/css" href="css/bootstrap-4.0.0-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/about-us.css">
    

</head>
<body>
   
    <footer class="panel-footer">
		<div class="container ">
			<div class="row">
				<section id="address" class="col-lg-3 col-md-6 ">
					<span>Citrine Gate Academy</span>
					<div class="footer ">
						Citrine Web Technologies,<br>Near Central PVR,<br>Bellandur,<br> Bangalore-560103
					</div>
					<hr class="d-xs-block d-lg-none">
				</section>
				<section id="links" class="col-lg-3 col-md-6">
					<span>Quick Links</span>
					<div class="footer">
						<a href="#">Home</a><br>
						<a href="#">About Us</a><br>
						<a href="#">Contact Us</a><br>
					</div>
					<hr class="d-xs-block d-lg-none">
				</section>
				
				<section id="social" class="col-lg-3 col-md-6">
					<span>Connect with us</span>
					<div class="row footer">
						<div><i class="fa fa-facebook col-lg-6"></i></div>
						<div><i class="fa fa-linkedin col-lg-6"></i></div>
						<div><i class="fa fa-instagram col-lg-6"></i></div>
						<div><i class="fa fa-youtube col-lg-6"></i></div>
					</div>
					<hr class="d-xs-block d-md-none">
				</section>
				<section id="location" class="col-lg-3 col-md-6">
					<span>Location</span>
					<div class="footer">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62218.462868684655!2d77.6498168735323!3d12.929950222330698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13a6f75d8585%3A0x3d13b6a957a03484!2sCitrine%20Web%20Technologies!5e0!3m2!1sen!2sin!4v1625831701949!5m2!1sen!2sin" width="250" height="120" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</section>
			</div>
			<div id="copyright" class="text-center">&copy; Citrine Gate Academy</div>
		</div>
		
	</footer>

</body>
</html>

