<!DOCTYPE html>
<html>
<head>
	
    <link rel="stylesheet" type="text/css" href="css/bootstrap-4.0.0-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/about-us.css">
    

</head>
<body>
    <header>
        <nav id="header-nav" class="navbar navbar-expand-lg  ">
            <div >
                <!-- <div class="navbar-header ">
                    <div id="logo" alt="logo image" class="d-xs-none d-sm-block">
                        <img src="images/logo.png" alt="logo">
                    </div>
                </div> -->
            </div>
                <div class="navbar-brand mr-auto">
                    <a href="index-afterlogin"><h1>Citrine <span class="nav-br">Gate Academy</span></h1></a>
                </div>
                

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#target">
                <span ><i style="color: black;" class="fa fa-navicon"></i></span>
                
            </button>

            <div class="collapse navbar-collapse" id="target">		
                <ul id="nav-list" class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index-afterlogin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aboutus-student">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="question">Ask a Question</a>
                    </li>
                  
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="#">Login <i class="fa fa-caret-down"></i></a>
                        <div class="dropdown-content">
                            <a href="student-login">As Student</a>
                            <a href="teacher-login">As Teacher</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="#">Register <i class="fa fa-caret-down"></i></a>
                        <div class="dropdown-content">
                            <a href="student-register">As Student</a>
                            <a href="teacher-register">As Teacher</a>
                        </div>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropbtn" href="#"> Hello <%= name%><i class="fa fa-caret-down"></i></a>
                        <div class="dropdown-content ">
                            <form  action="/logout?_method=DELETE" method="POST">
                                <button class="logout" id="button" type="submit">Log Out</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
    
    </nav>
</header>
</body>
</html>

