<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/bootstrap-4.0.0-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/about-us.css">

</head>
<body>

	<%- include('./partials/student_navbar')%>


  <div class="bg-image  img-fluid "></div>

  <div class="bg-text">
    <h1 ><span>About</span> Us</h1>
  </div>

  <div class="about">
    <div class="about-text">
      <p>We are one of best Software Companies of India. We provide software solutions, IT solutions, Web Solutions and many more services. Currently We are helping businesses to grow online.<br><br>

        We provide Chat bot integration, Payment Integration, UI/UX etc for web solutions. We help services to help them establish as brand. They can work independently under their own business.<br><br>
        
        We are providing website design and development with latest technologies.<br><br>
        
        Please feel free to contact us at mail@citrineweb.com</p>
    </div>
  </div>

  <div class="container meet-team">
		<span class="team">Meet Our<span> Team</span></span>
		<div class="row">
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="../images/avatar.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Member 1</h5>
			   
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="../images/avatar.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Member 2</h5>
			    
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="../images/avatar.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Member 3</h5>
			  
			  </div>
			</div>
		</div>
	</div>	


	<%- include('./partials/footer')%>


  <script src="css/bootstrap-4.0.0-dist/js/jquery-3.5.1.min.js"></script>
  <script src="css/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>

  
</body>
</html>
